.footer{
  display: flex;
  justify-content: space-between;
  background-color: #2e2e2e;
  width: 100vw;
  height: 120px;
  align-self: flex-end;
}
.footerLeft, .footerRight{
  display: flex;
  align-items: center;
  padding: 0px 70px;
}
.footerMiddle{
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 50px;
}
.pagesText{
  text-decoration: none;
  pointer-events: none;
  align-content: center;
}