.tabs{
  display: flex;
  gap: 15px;
  margin-top: 60px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mainText{
  font-family: 'BebasNeueBold';
  font-size: 95px;
  width: 800px;
  line-height: 1.2
}
.mainContent{
  display: flex;
  position: relative;
}
.mainContentRight{
  position: absolute;
  right: -150px;
  top: -150px;

}
.content{
  padding: 43px 70px;
  align-self: center;
}
.emptyBlock{
  height: 120px;
}