.modal {
  height: calc(100vh - 114px);
  width: 400px;
  position: fixed;
  top: 114px;
  right: 0;
  z-index: 4;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  width: 400px;
  height: calc(100vh - 114px);
  background: #ffffff;
  position: fixed;
  top: 114px;
  right: 0;
  bottom: 0;
  border-radius: 30px 0 0 30px;
  transition: all 0.2s ease;
  padding: 32px;
  padding-bottom: 0;
  overflow: auto;

  button {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
  }
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modalEnterActive {
  opacity: 0;
}
.modalEnterActive .modal_content {
  right: -640px;
}
.modalEnterDone {
  opacity: 1;
  transition: all 0.3s ease;
}
.modalEnterDone .modal_content {
  transition: all 0.3s ease;
  right: 0;
}
.modalExit {
  opacity: 1;
  transition: all 0.3s ease;
}
.modalExit .modal_content {
  right: 0;
  transition: all 0.3s ease;
}
.modalExitActive {
  opacity: 0;
  transition: all 0.3s ease;
}
.modalExitActive .modal_content {
  right: -640px;
  transition: all 0.3s ease;
}

.modal::-webkit-scrollbar,
.modal_content::-webkit-scrollbar {
  width: 0;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.modal_info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  flex-grow: 1;
  position: relative;
  max-height: 692px;
  overflow-y: scroll;
}

.center_modal_container {
  padding: 32px 24px;
  background: #ffffff;
  border: 1px solid #e3e7ef;
  border-radius: 8px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.center_modal_file_container {
  padding: 24px 0;
  background: #ffffff;
  border: 1px solid #e3e7ef;
  border-radius: 8px;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.center_modal_file_element {
  padding: 40px 0 40px 0;
  border-top: 1px solid #E3E7EF;
  border-bottom: 1px solid #E3E7EF;

}

.delete_title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.delete_buttons_container {
  display: flex;
  gap: 8px;

  button {
    width: 50%;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }
}

.input_block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

textarea {
  height: 200px;
}

.success {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.power_of_attorney {
  display: flex;
  gap: 24px;
  align-items: flex-start;

  .input_container {
    padding: 14px 16px;
    height: 44px;
    width: 360px;
  }

  .checkbox {
    padding: 12px 0;
    height: 44px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.date_wrapper {
  width: 360px;
}

.tutorial_container {
  background: #ffffff;
  width: 688px;
  height: 692px;
  border-radius: 8px;
  padding-bottom: 0;
  border: 1px solid #e3e7ef;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header_wrapper {
  padding: 24px;
}

.modal__header{
  color: black;
  //margin-bottom: 50px;
  display: flex;
  gap: 15px;

  h2{
    font-weight: 400;
    font-size: 30px;
  }

}

.filtersRow{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  margin-top: 50px;
}

.inputsRow{
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.iWillCumBtn{
  margin-top: 30px;
  height: 40px;
  width: 100%;
  border-radius: 100px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iWillCumBtnCancel{
  background-color: #FFC5C5;
}

.filtersApplyBtn{
  height: 40px;
  width: 100%;
  border-radius: 100px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.filtersRestoreBtn{
  color: #B5B5B5;
  font-size: 12px;
  line-height: 18px;
  height: 30px;
  width: 100%;
}

.filtersBtns{
  margin-top: 30px;
  width: 100%;
}

.playground__status{
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.playground__statusHeader{
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: black;
}

.playground__statusValue{
  font-size: 16px;
  line-height: 20px;
  color: #AFAFAF;
}

.callBtn{
  border: 1px solid black;
  color: black;
  border-radius: 100px;
  height: 40px;
  width: 163px;
  font-size: 16px;
}

.info{
  margin: 30px 0 40px 0;
  height: 30px;
}

.infoRow{
  display: flex;
  justify-content: space-between;

}