.button{
  display: flex;
  width: 164px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.active{
  background: #dcff2c;
  color: #1f1f1f;
  border: none;
}
.title{
  font-size: 20px;
}