.header{
  display: flex;
  justify-content: center;
  padding-top: 43px;
  padding-bottom: 30px;
  background-color: #242424;
  width: 100vw;
  z-index: 2;
}
.content{
  display: flex;
  justify-content: space-between;
  width: 1600px;
}
.headerRight{
  display: flex;
  gap: 20px;
}