.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1400px;
  justify-items: center;
  align-self: center;
  gap: 10px;
}
.events{
  display: flex;
  flex-direction: column;
}