.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1400px;
  align-self: center;
  gap: 20px;
}
.events{
  display: flex;
  flex-direction: column;
}
.header{
  font-family: 'BebasNeueBold';
  font-size: 60px;
}
.emptyBlock{
  height: 80px;
}