.button{
  display: flex;
  justify-content: center;
  border-radius: 100px;
  border: 1.5px solid #ffffff;
  align-items: center;
  cursor: pointer;
  width: 314px;
  height: 70px;
  gap: 10px;
  font-size: 25px;
}
.secondary{
  border: none;
  background-color: #dcff2c;
  color: #000000;
}
.s{
  width: 164px;
  height: 40px;
  font-size: 20px;
}