.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  align-self: center;
  gap: 30px;
  margin-bottom: 50px;
}
.button{
  display: flex;
  justify-content: center;
}
.header{
  font-family: 'BebasNeueBold';
  font-size: 60px;
}
.emptyBlock{
  height: 80px;
}
.events{
  display: flex;
  flex-direction: column;
  justify-content: center;
}