.wrapper{
  padding: 20px 20px 30px 20px;
  background: #2e2e2e;
  border-radius: 30px;
  font-size: 20px;
  height: 223px;
}
.mainContent{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-direction: column;
  gap: 10px;
  height: 130px;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mainContent::-webkit-scrollbar {
  width: 8px;
}
.mainContent::-webkit-scrollbar-thumb {
  background-color: grey;
}
.header{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.title{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  background: #1f1f1f;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
