.wrapper{
  background-color: #383838;
  border-radius: 15px;
  padding: 0 20px;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date{
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.day{
  font-size: 45px;
  color: #dcff2c;
}
.weekday{
  margin-top: auto;
  margin-bottom: 8px;
}
.game{
  display: flex;
  align-items: center;
}
.time{
  display: flex;
  align-items: center;
  color: #919191
}