.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content{
  padding: 43px 70px;
  width: 1600px;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 1000px;

}
.column{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}