*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Gothem';
  src: url('src/assets/fonts/gotham_book.otf') format('truetype');
}
@font-face {
  font-family: 'BebasNeueBold';
  src: url('src/assets/fonts/BebasNeueBold.ttf') format('truetype');
}
:root {
  font-family: 'Gothem', system-ui, sans-serif, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #242424;
  text-decoration: none;

}
