.wrapper{
  padding: 20px 30px;
  background: #2e2e2e;
  border-radius: 30px;
  font-size: 20px;
}
.mainContent{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 300px;
  overflow-y: scroll;
}
.mainContent::-webkit-scrollbar {
  width: 8px;
}
.mainContent::-webkit-scrollbar-thumb {
  background-color: grey;
}